$background: #222831;
$text-color: #C8C8C8;
$border: #00909e;
$overlay-background: #00909e;
$btn-background: #024249;
$gray: #ccc;
$white: white;
$black: black;

// rating circle
$stroke: #666;
$fill: #0dd47f;