<article>
    <section class="movie-details">
       <div class="movie-details__image">
           <img src="{{movieDetails.Poster}}" alt="movie poster">
           <div class="movie-details__rating-widget">
                <div class="movie-details__percentage">
                    <span>{{rating}}%</span>
                    <svg class="movie-details__percentage__rating" width="200" height="200" viewPort="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg">
                        <circle class="circle" r="90" cx="100" cy="100" fill="transparent" stroke-dasharray="565.48" [style.strokeDashoffset]="offset"></circle>
                        <circle class="circle" id="bar" r="90" cx="100" cy="100" fill="transparent" stroke-dasharray="565.48" [style.strokeDashoffset]="offset"></circle>
                    </svg>
                </div>
            </div>
        </div>
        <div class="movie-details__desc">
            <div>
                <h3 class="movie-details__desc__title">
                    <span>{{movieDetails.Title}}</span>
                    <span>({{movieDetails.Released}})</span>
                </h3>
                <p class="movie-details__desc__type">
                    <span>{{movieDetails.Rated}}</span>
                    <span>{{movieDetails.Genre}}</span>
                    <span>{{movieDetails.Runtime}}</span>
                    <span class="movie-details__desc__type-ac">{{movieDetails.Type}}</span>
                </p>
                <div class="movie-details__desc__info">
                    <div class="movie-details__desc__info-left">
                        <p class="movie-details__desc__info-left__plot">
                            Plot
                        </p>
                        <p class="movie-details__desc__info-left__plot-desc">
                            {{movieDetails.Plot}}
                        </p>
                        <p class="movie-details__desc__info-left-actors">
                            <span>Actors</span>
                            <span>{{movieDetails.Actors}}</span>
                        </p>
                        <p class="movie-details__desc__info-left-actors">
                            <span>Director</span>
                            <span>{{movieDetails.Director}}</span>
                        </p>
                    </div>
                    <div class="movie-details__desc__info-right">
                        <p class="movie-details__desc__info-right__writer">
                            Writer
                        </p>
                        <p class="movie-details__desc__info-right__writer-name">
                            {{movieDetails.Writer}}
                        </p>
    
                        <p class="movie-details__desc__info-right__votes">
                            <span>Votes</span>
                            <span>{{movieDetails.imdbVotes}}</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="movie-details__desc-back">
                <div routerLink='/'>Back to Search</div>
            </div>
        </div>
    </section>
</article>